* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}

/* menu de navegação */
nav {
    background-color: #fafafa;

    padding: 8px;
    display: flex;
    gap: 8px;

    border-bottom: 1px solid #dadada;
}

/* área de conteúdo do site */
.container {
    display: flex;
}

/* menu lateral */
aside {
    background-color: #161616;
    /* item 2a) */
    height: 1200px;
    width: 20vw;
    display: flex;

    /* item 2 b) */
    flex-direction: column;
}

/* área de conteúdo principal */
main {
    background-color: #e1e2dc;
    /* item 3 a) */
    height: 1200px;
    width: 80vw;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    padding: 16px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

section {
    padding: 8px;
    border: 2px #161616 solid;
}

/* botões de navegação */
.navegacao {
    height: 48px;
    padding: 12px;
    gap: 8px;
    background-color: #fafafa;
    border: 2px solid #161616;
    color: #161616;
    display: flex;

    box-shadow: 0px 0px 0px;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* botão 3d com sombra sólida */
/* item 1 c) */
.navegacao:hover {
    background-color: #f3f1f1;
    box-shadow: 4px 4px 0px;
    transform: translate(-2px, -2px);
}

.navegacao:active {
    background-color: #e6e3e3;
    box-shadow: 2px 2px 0px;
    transform: translate(-1px, -1px);
}

.navegacao:focus-within {
    box-shadow: 2px 2px 0px;
    transform: translate(-1px, -1px);
}

/* tentando fazer o chevron do dropdown girar */
.expandir {
    transition: transform 0.3s;
}
.navegacao:hover .epxandir {
    transform: rotate(180deg);
}
/* fim da estilização do botão da navegação */

/* botão do dropdown */
.botaodropdown {
    padding: 8px;
    gap: 8px;
    border-style: none;
    color: #161616;
    background-color: #fafafa;
    text-decoration: none;
    display: flex;

    box-shadow: 0px 0px 0px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.botaodropdown:hover {
    background-color: #f3f1f1;
    border: 2px #161616 solid;
    transform: translate(4px, -4px);
    box-shadow: 0px 0px 0px;
}

.dropdown {
    display: flex;
    /* align-self: stretch; */
    flex-direction: column;
}

.menuDropdown {
    border: 2px #161616 solid;
    background-color: #161616;
    /* overflow: hidden; */
    min-width: 200px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    display: none;   

}

.dropdown:focus-within .menuDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* position: relative; */
    top: calc(8px + 48px);
}

.botoesmenuLateral {
    padding: 8px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

/* botões do menu lateral */
.botaoMenuLateral {
    height: 48px;
    border: 2px solid #fafafa;
    color: #fafafa;
    padding: 12px;
    background: none;
    transition: 0.2s;

    display: flex;
    /* justify-content: center; */
}

.botaoMenuLateral:hover {
    background-color: #fafafa;
    color: #161616;
}

/* loader */
/* item 3 b) */
.loader {
    /* tamanho do loader */
    height: 40px;
    width: 40px; 
    border-radius: 50%;

    /* separando uma parte da borda para mostrar a animação */
    border: 5px #e2e2e2 solid;
    border-top-color: #ffd209;

    /* agora fazendo ele girar infinitamente */
    animation-name: rotacao;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* animando para dar mais peso quando o colorido ficar embaixo */
    animation-timing-function: ease-in-out;
}

@keyframes rotacao {
    0% {
        transform: rotate(0deg);
        border-top-color: #ffd209;
    }

    33% {
        border-top-color: #f7500f;
    }
    
    66% {
        border-top-color: #2ae3fc;
    }

    100% {
        transform: rotate(360deg);
        border-top-color: #ffd209;
    }
}

.carregando { 
    background-color: #fafafa;

    padding: 16px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

/* Responsividade */
/* item 4 */
@media only screen and (max-width: 600px) {
    .container {
        /* item 4 b) */
        flex-direction: column;
    }
    aside {
        background-color: #161616;
        display: flex;
        /* item 4 a) */
        height: auto;
        width: auto;
        justify-content: center;
    }

    main {
        width: auto;
    }

    .botoesmenuLateral {
        flex-direction: row;
        align-items: center;
    }

    .botaoMenuLateral {
        width: 400px;
        justify-content: center;
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section:hover {
    background-color: #f7f7f2;
}

section p {
    font-size: 14px;
    color: #575757;
}

.imagem {
    border: 2px #161616 solid;
    height: 200px;
    object-fit: cover;
}

.secundario {
    padding: 8px;
    gap: 8px;
    border: #161616;
    color: #161616;
    border: 2px #fafafa solid;
    background-color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.secundario:hover {
    background-color: #f3f1f1;
    border: 2px #161616 solid;

}

.secundario:active {
    background-color: #e6e3e3;
}
